.grid_section {
  position: relative;
  min-height: 800px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background: rgb(0, 0, 0, 0.5);
  margin-top: 100px;
  margin-bottom: 60px;
}
.grid {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.grid_section video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 800px;
}
.grid {
  min-height: 800px;
}
.grid_content {
  color: #ffffff;
}
.grid_content_icon {
  font-size: 30px;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 50px;
  display: inline-block;
}
.grid_content_heading {
  font-size: 24px;
  margin-bottom: 30px;
}

.grid_content_conatiner {
  height: 800px;
  display: flex;
  align-items: flex-end;
  width: 25%;
  padding-bottom: 50px;
  overflow: hidden;
}

.grid_content {
  padding: 0px 20px;
  overflow: hidden;
}
.grid_content_desc p {
  font-size: 14px;
  line-height: 1.8em;
  color: #ffffff;
}
.grid_content_desc {
  height: 0px;
  transition: 0.2s ease-in-out;
}
.grid_content_conatiner:hover .grid_content_desc {
  height: 150px;
}

.grid_content_conatiner:hover {
  border-left: 1px solid rgb(0, 0, 0, 0.8);
  border-right: 1px solid rgb(0, 0, 0, 0.8);
  background: rgb(0, 0, 0, 0.2);
}

.grid_content_conatiner:hover .grid_content_icon {
  border: 1px solid black;
  color: black;
  background: #fff;
}

/* Small devices (smartphones, less than 600px) */
@media only screen and (max-width: 600px) {
  .grid_content_conatiner {
    width: 100%;
    background-image: url("/images/mobile-grid-background.png"); 
    background-size: cover;
    background-repeat: no-repeat;   
  }

  .grid_content_conatiner:hover {
    border-left: 0px;
    border-right: 0px;
  }

  .grid_content_desc {
    height: auto;
  }
  .grid_content_conatiner:hover .grid_content_desc {
    height: auto;
  }

  .grid_content_conatiner .grid_content_icon {
    border: 1px solid black;
    color: black;
    background: #fff;
  }
  .grid_section video{
    display: none;
  }

}

/* Medium devices (tablets, 600px - 900px) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .grid_content_conatiner {
    width: 50%;
  }
}
